
- Functional requirement:
  1. User should be able to search flights based on origin + arrival destination + date of travel
  2. Select the flight based on time/preference
  3. Enter personal details
  4. User should able to login to app
  5. Make payment in your app
  6. Confirmation mail/notification

- Non-functional requirement:
  1. Scalable
  2. Reliable
  3. Modular

- Actors:
  1. Admin (who use application)
  2. Passengers (users)
  3. Airline authority (Operators)

- Viết 1 service @Schedule @Queue 

- 12Jun: Review 2
- 19Jun: Review 3